<html>
<head>
  <title>Advertise  on WOW!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
  <section class="navBar-wrapper">
    <nav class="navBar"> <!-- navigation bar -->
        <a href="../index.html"><img src="../assets/images/WOW_White.png" alt="WOW! Logo" class="logo"></a>
        <div class="navBarRight">
          <a href="tv.html">tv</a>
          <a href="digital.html">digital</a>
          <a href="#">contact us</a>
          <!-- <div class="contact-us"><a href"#">contact us</a></div> -->
        </div>
    </nav>
  </section>
  <section class="color-bar">
    <img src="../assets/images/colorbar.png" class="color-bar">
  </section>
  <section>
    Main Digital content
  </section>
  <section>
    Stats and Demographics
  </section>
  <section>
    Customer Reviews
  </section>
  <section>
    Other Information
  </section>
  <section class="footer">
    <div class="bold">
    <a href="http://www.wowway.com">wowway.com</a>
    <a href="http://www.wowforbusiness.com">wowforbusiness.com</a>
  </div>
  <div class="Right">
    <a href="#" >Privacy Policy</a> |
    <a href="#" >Accessibility</a> |
    <a href="#" >Terms & Conditions</a>
  </div>
  </section>
</body>
</html>
