<html>
<head>
  <title>Advertise  on WOW!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
  <section class="navBar-wrapper">
    <nav class="navBar"> <!-- navigation bar -->
        <a href="../index.html"><img src="../assets/images/WOW_Icon_White.png" alt="WOW! Logo" class="logo"></a>
        <div class="navBarRight">
          <div><a href="../index.html" class="btn">home</a></div>
          <div><a href="tv.html" class="btn active">tv</a></div>
          <div><a href="digital.html" class="btn">digital</a></div>
          <div><a href="#" class="btn">contact us</a></div>
          <!-- <div class="contact-us"><a href"#">contact us</a></div> -->
        </div>
    </nav>
  </section>
  <section class="color-bar">
    <img src="../assets/images/color_bar.png" class="color-bar">
  </section>
  <section class="map">

    <img src="../assets/images/Select_a_WOW_Market.png" height="20%">
  </section>
  <section class="grey">
    <h2>Market Information</h2>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/AL_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Huntsville</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/alabama-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/alabama-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/AL_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Montgomery</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/alabama-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/alabama-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/AL_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Scenic Media to advertise with WOW! in Dothan</h2>
      <div class="tv-cta"><a href="#">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="#">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/FL_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Panama City</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/florida-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/florida-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/FL_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Tampa</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/florida-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/florida-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/GA_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact OnMedia to advertise with WOW! in Columbus and Valley</h2>
      <div class="tv-cta"><a href="#">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="#">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/GA_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Augusta</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/georgia-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/georgia-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/GA_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Comcast Spotlight to advertise with WOW! in Newnan, GA</h2>
      <div class="tv-cta"><a href="https://www.comcastspotlight.com/markets/atlanta">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://www.comcastspotlight.com/markets/atlanta">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/IL_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Comcast Spotlight to advertise with WOW! in Chicago</h2>
      <div class="tv-cta"><a href="https://www.comcastspotlight.com/markets/chicago">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://www.comcastspotlight.com/markets/chicago">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/IN_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Evansville</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/indiana-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/indiana-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/MD_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Comcast Spotlight to advertise with WOW! in Anne Arundel</h2>
      <div class="tv-cta"><a href="https://www.comcastspotlight.com/markets/baltimore">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://www.comcastspotlight.com/markets/baltimore">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/MI_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Comcast Spotlight to advertise with WOW! in Detroit</h2>
      <div class="tv-cta"><a href="https://www.comcastspotlight.com/markets/detroit">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://www.comcastspotlight.com/markets/detroit">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/MI_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Comcast Spotlight to advertise with WOW! in Grand Rapids and Lansing </h2>
      <div class="tv-cta"><a href="https://www.comcastspotlight.com/markets/grand-rapids">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://www.comcastspotlight.com/markets/grand-rapids">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/OH_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Columbus, OH</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/ohio-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/ohio-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/OH_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Cleveland</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/ohio-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/ohio-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/SC_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Charleston</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/south-carolina-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/south-carolina-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="center">
    <div class="imgLeft"><img src="../assets/images/states/TN_circle_120x120.png" class="states"></div>
    <div class="adInfo">
      <h2>Contact Viamedia to advertise with WOW! in Knoxville</h2>
      <div class="tv-cta"><a href="https://viamediatv.com/tennessee-advertising/">More Info</a></div>
      <div class="tv-cta"><a href="#">Email</a></div>
      <p>To see market specific demographic information, <a href="https://viamediatv.com/tennessee-advertising/">click here.</a></p>
    </div>
  </section>
  <section class="footer">
    <div class="bold">
      <a href="http://www.wowway.com">wowway.com</a>
      <a href="http://www.wowforbusiness.com">wowforbusiness.com</a>
  </div>
  <div class="Right">
    <a href="#" >Privacy Policy</a> |
    <a href="#" >Accessibility</a> |
    <a href="#" >Terms & Conditions</a>
  </div>
  </section>
  <script src="../scripts/navStateChange.js"></script>
</body>
</html>
