<html>
<head>
  <title>Advertise  on WOW!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
  <section class="navBar-wrapper">
    <nav class="navBar"> <!-- navigation bar -->
        <a href="../index.html"><img src="assets/images/WOW_White.png" alt="WOW! Logo" class="logo"></a>
        <div class="navBarRight">
          <a href="/views/tv.html">tv</a>
          <a href="#">digital</a>
          <a href="#">contact us</a>
          <!-- <div class="contact-us"><a href"#">contact us</a></div> -->
        </div>
    </nav>
  </section>
  <section>
    Space for map and dropdown
  </section>
  <section>
    Market Information
  </section>
  <section>
    Specific Market Info placeholder
  </section>
</body>
