@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800');

html {
     height: 100%;
 }

body {
     font-family: 'Nunito Sans';
     color: black;
  	 margin: 0 !important;
     min-height: 100%;
 }

 *, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

nav {
   background-color: #ffc40c;
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width:100%;
   height: 10%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
 }
 img{
   margin:0 !important
 }

 nav img{
   max-width:300px;
   justify-content: flex-start;
 }

.navBar .logo {
     position: relative;
     padding: 10px 0 10px 50px;
 }

 .navBarRight a {
   text-decoration: none;
   color: #58595b;
   font-size: 1.1rem;
   font-weight: bold;
   justify-content: flex-end;
   align-items: center;
   margin: 0 1rem;
 }

 .btn {
   height: 100%;
   align-items: center !important;
   margin:auto;
   padding: 15px;
 }

 .active, .btn:hover {
   text-decoration: underline solid #58595b !important;
 }

 .navBarRight {
   padding-right: 7%;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   justify-content: flex-end;
 }

 .navBar-wrapper{
   height: 10%;
   width: 100%;
  background-color: #ffc40c;
   margin: 0;
   padding: 0;
   border: 0;
 }
.color-bar {
  width:100%;
  position:fixed;
  margin: 0 !important;
}
 /* .contact-us {
   border: #ffffff solid 2px;
   border-radius: 10px;
   font-size: 1.5rem;
   padding: .5rem;
   margin: .5rem;
   color: #ffffff;
   line-height: 100%;
   text-align: center;
   justify-content: flex-end;
 } */

.hero-content {
     display: block;
     min-height: 200px;
     background-color: #ffffff;
     background-size: cover;
     text-align: center;
     color: #58595b;
     font-size: 1.5rem;
     padding: 0 10% 5% 10%;
 }
 .hero-content .hero-title {
     display: block;
     width: 100%;
     text-align: center;
     color: #ffc40c;
     align-items: center; /* Vertical center alignment */
     justify-content: center; /* Horizontal center alignment */
     font-size: 3rem;
     line-height: 2.5rem;
     text-shadow: 1px 1px 0px rgb(58,23,63);
   }

h1.hero-title {

     color: #ffc40c;
     background-size: cover;
     border: 0;
     margin: 0 !important;
   }

.channels {
  display: block;
  outline: 2px solid #ffffff;
  background-color: #58595b;
  text-align: center;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  min-height: 110px;
}

.channels a{
  text-decoration: none !important;
}

.channels h2{
  font-size: 2rem;
  line-height: 3rem;
  color: #ffffff;
  padding: 0;
}

.channels:hover{
  color:#ffffff;
  background-color:#0d8fbf;
}

.channels:hover h2{
  color: #ffffff;
}

.mainfeature {
  background-color: #1272a5;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-top: 4rem;
  display:flex;
}

.mainfeature img{
  max-height: 250px;
  padding: 0 15%;
}

.mainfeature div{
  padding: inherit;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center; /*flex*/
  align-items: center !important;
  vertical-align: middle;
  justify-content: center;
  font-size: 1.5rem;
}

.tv {
  display: block;
}
.digi {
  display: none;
}

.feature-wrapper {
  margin: auto;
  width: 100%;
}

.feature {
  width: 100%;
  display: inline-block;
  padding-top: 4rem;
}

.home-cta {
  width: 55%;
  min-width: 150px;
  /* border: #ffffff solid 2px; */
  background-color: #f26529;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
  margin: 4rem;
  color: #ffffff;
  text-decoration: none;
  line-height: 100%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

.home-cta a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.tv-cta{
  background-color: #0d8fbf;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem;
  margin-right: 2rem;
  margin-top: .5rem;
  color: #ffffff;
  text-decoration: none;
  line-height: 100%;
  text-align: center;
  display: inline-flex;
  justify-content: left;
}

.tv-cta a {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.cta-wrapper {
  width: 100%;
  text-align: center;
}

.why-wow {
     display: block;
     min-height: 200px;
     background-color: #58595b;
     background-size: cover;
     text-align: center;
     color: #ffffff;
     font-size: 1.5rem;
     padding: 5% 10% 5% 10%;
 }

 .why-wow .why-title {
     display: block;
     width: 100%;
     text-align: center;
     color: #ffffff;
     align-items: center; /* Vertical center alignment */
     justify-content: center; /* Horizontal center alignment */
     font-size: 2.5rem;
     line-height: 2rem;
   }

h2.why-title {
     color: #ffffff;
     background-size: cover;
     border: 0;
     margin: 0 !important;
   }

.media-kit {
  text-align: center;
  padding: 10px;
}

.media-kit h2{
  font-size: 2rem;
  line-height: 3rem;
  color: #f26529;
  padding: 0;
}

.footer{
  background-color: #58595b;
  width: 100%;
  color: #ffffff;
  text-decoration: none !important;
  display: flex; /*flex*/
  flex-direction: row;
  align-items: center !important;
  vertical-align: middle;
  justify-content: space-between;
  min-height: 150px;
}

.footer a{
  color: #ffffff;
  text-decoration: none !important;
}

.footer .bold{
  font-weight: bold;
  font-size: 2rem;
  padding-left: 7%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.bold a{
  padding: 0 20px;
}
.footer .right{
  text-align: right;
  padding-right: 7%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.right a{
  padding: 0 10px;
}

.ad-sizes{
  color: #58595b;
  display: block;
  width: 100%;
  text-align: center;
  align-items: center !important;
  vertical-align: middle;
  justify-content: center;
  font-size: 1.5rem;
}

.map{
  padding: 150px;
  min-height: 400px;
  background-image: url(../assets/images/Map_Full.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey{
  background-color: #58595b;
  width: 100%;
  color: #ffffff;
  text-decoration: none !important;
  display: flex; /*flex*/
  flex-direction: row;
  align-items: center !important;
  vertical-align: middle;
  justify-content: center;
  padding:inherit;
}

.center{
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid #58595b;
}

.states{
  max-width: 200px;
  justify-content: center;
}

.imgLeft{
  visibility: hidden;
  width: 0%;
}

.adInfo, .adinfo a{
  color: #58595b;
  font-size: 1rem;
  text-align: center;
}

.product {
    margin: 10px;
    border: 2px solid white;
}

.product p{
  display:none;
}

.product:hover {
  background-color: #1272a5;
}

.product:hover p{
  display:block;
}

.product:hover h2{
  display:none;
}
.targeting{
  width:100%;
  font-size: 1.2rem;
  border: none;
  text-align: left;
  min-height: 200px;
}

.targeting h2{
  text-align: center;
}

.targeting p{
  display:none;
}

.targeting:hover h2{
  text-align: left;
}
.targeting:hover p{
  display:block;
}

.title{
  width:100%;
}


/* Medium and large screens (640px) */
@media (min-width: 640px) {
  .hero-content .hero-title {
    font-size: 4rem;
    line-height: 8rem;
  }
  .channels {
    width:50%;
  }
  .feature {
    width: 30%;
  }
  .home-cta {
    width: 30%;
  }
  .imgLeft{
    visibility: visible;
    width: 45%;
    text-align: center;
    padding: 10px;
  }
  .adInfo{
    width: 55%;
    text-align: left;
  }
  .ad-sizes {
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
  }
  .targeting{
    width:30%;
  }
}
