@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800');

html {
     height: 100%;
 }

body {
     font-family: 'Nunito Sans';
     color: black;
  	 margin: 0 !important;
     min-height: 100%;
 }

 *, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

nav {
   background-color: #0065E3;
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width:100%;
   height: 10%;
   margin: 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
 }

 nav img{
   height:90%;
   justify-content: flex-start;
 }

.navBar .logo {
     position: relative;
 }

 .navBarRight a {
   text-decoration: none;
   color: #ffffff;
   font-size: 1.5rem;
   font-weight: bold;
   line-height:90%;
   justify-content: flex-end;
   margin: 1rem;
 }

 .navBarRight {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   justify-content: flex-end;
 }

 .navBar-wrapper{
   height: 10%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
 }

 .contact-us {
   border: #ffffff solid 2px;
   border-radius: 10px;
   font-size: 1.5rem;
   padding: .5rem;
   margin: .5rem;
   color: #ffffff;
   line-height: 100%;
   justify-content: flex-end;
 }

.hero-content {
     display: block;
     min-height: 200px;
     background-color: #0065E3;
     background-size: cover;
     text-align: center;
     color: #ffffff;
     font-size: 1.5rem;
     padding: 0 10% 5% 10%;
 }
 .hero-content .hero-title {
     display: block;
     width: 100%;
     text-align: center;
     color: #ffc40c;
     align-items: center; /* Vertical center alignment */
     justify-content: center; /* Horizontal center alignment */
     font-size: 3rem;
     line-height: 2.5rem;
     text-shadow: 1px 1px 0px rgb(58,23,63);
   }

h1.hero-title {

     color: #ffc40c;
     background-size: cover;
     border: 0;
     margin: 0 !important;
   }

.channels {
  display: block;
  outline: 2px solid #58595b;
  text-align: center;
  align-items: center;
  justify-content: center;
  float: left;
  margin:0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  min-height: 110px;
}

.channels h2{
  font-size: 2rem;
  line-height: 3rem;
  color: #f26529;
  padding: 0;
  text-shadow: 1px 1px 0px rgb(58,23,63);
}

.tv-main {
  background-color: #ffffff;
  background-image: url("../assets/images/grey_plasma-tv_icon-icons.jpg");
}

.digi-main {
  background-color: #ffffff;
  background-image: url("../assets/images/Digital.jpg");
}


.tvFeature {
  background-color: #58595b;
  text-align: center;
  align-items: center;
  padding: 10px;
}
.digiFeature {
  background-color: #58595b;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.feature-wrapper {
  margin: auto;
  width: 100%;
}

.feature {
  width: 100%;
  display: inline-block;
  padding-top: 10px;
}

.home-cta {
  width: 55%;
  min-width: 150px;
  border: #ffffff solid 2px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
  margin: .5rem;
  color: #ffffff;
  text-decoration: none;
  line-height: 100%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

.home-cta a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.cta-wrapper {
  width: 100%;
  text-align: center;
}

.media-kit {
  text-align: center;
  padding: 10px;
}

.media-kit h2{
  font-size: 2rem;
  line-height: 3rem;
  color: #f26529;
  padding: 0;
  text-shadow: 1px 1px 0px rgb(58,23,63);
}

/* Medium and large screens (640px) */
@media (min-width: 640px) {
  .hero-content .hero-title {
    font-size: 4rem;
    line-height: 8rem;
  }
  .channels {
    width:50%;
  }
  .feature {
    width: 30%;
  }
  .home-cta {
    width: 30%;
  }
}
